<p>register works!</p>

<div class="container">

    <div>
        <div class="login">
            <a [routerLink]="['../login']">Iniciar sesión</a>
        </div>
    </div>

    <div>
        <h2>Register</h2>
        <div>
            <form [formGroup]="form" (ngSubmit)="register()">
                <input type="email" formControlName="email" placeholder="Email.">
                <span *ngIf="email.touched && email.hasError('required')">Email is required.</span>
                <span *ngIf="email.touched && email.hasError('email')">Email must be valid.</span>

                <input type="text" formControlName="username" placeholder="Username.">
                <span *ngIf="username.touched && username.hasError('required')">Username is required.</span>

                <input type="password" formControlName="password" placeholder="Contrseña.">
                <span *ngIf="password.touched && password.hasError('required')">Contraseña is required.</span>

                <input type="password" formControlName="passwordConfirm" placeholder="Repetir contraseña.">
                <span *ngIf="passwordConfirm.touched && form.hasError('passwordsNotMatching')">Contraseña not
                    matching.</span>

                <input type="submit" [disabled]="!form.valid" value="Registrar">
            </form>
        </div>
    </div>

</div>