{{tituloSocket | async}}

<div class="contorno_chat">
    <!-- IZQUIERDA -->
    <div class="izquierda">
        <div>
            <h2>Mis Chats</h2>
            <button [routerLink]="['../create-room']">Crear nueva sala</button>
        </div>

        <div *ngIf="salasDataPaginadas">
            <!-- IF-->
            <!-- HAY SALAS DE CHAT -->
            <div *ngIf="salasDataPaginadas.items && salasDataPaginadas.items.length > 0; else no_hay_salas_de_chat">
                <!-- SALAS -->
                <h2>Lista ({{ salasDataPaginadas.items.length }})</h2>
                <ul>
                    <li *ngFor="let salaChat of salasDataPaginadas.items">
                        <label>
                            <input type="radio" name="salaChatSeleccionada" [value]="salaChat | json"
                                (change)="seleccionarSalaChat($event)">
                            Nombre: {{ salaChat.name }} - Id: {{ salaChat.id }}
                        </label>
                        <hr>
                    </li>
                </ul>

                <!-- PAGINACIÓN -->
                <div>
                    <h2>Paginación</h2>
                    <div>
                        <button (click)="retrocederPaginaSalaChat()" [disabled]="paginacionActualDeSalas === 0">Retroceder</button>
                        <button (click)="siguientePaginaSalaChat()" [disabled]="salasDataPaginadas.meta.totalPages === salasDataPaginadas.meta.currentPage">Siguiente</button>
                    </div>
                </div>
            </div>
            <!-- ELSE IF-->
            <!-- NO HAY SALAS DE CHAT -->
            <ng-template #no_hay_salas_de_chat>
                <div>
                    No hay salas de chat disponibles.
                </div>
            </ng-template>
        </div>
    </div>

    <!-- DERECHA -->
    <div class="derecha">
        <!-- CABECERA -->
        <div>
            <h2>Mi Chat</h2>
            {{salaChatSeleccionada?.id}}
        </div>

        <!-- CHAT -->
        <div>
            <P>Chat</P>
            <app-mensaje-sala-chat [chatRoom]="salaChatSeleccionada" ></app-mensaje-sala-chat>
        </div>
    </div>
</div>